<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.springboot.myspringboot04.mapper.StuMapper">


  
  	<insert id="insertStu">
  		insert into stu (sid,sname,sage,birthdate) values 
  					(#{sid},#{sname},#{sage},#{birthdate})
  	</insert>
  	
  
</mapper>