<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link type="text/css/" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<span class="red">欢迎来到添加页面</span><br/>
<!-- 模板引擎的提交方式 -->
<form th:action="@{/emp}" method="post">
	编号：<input type="text" name="eid"><br/>
	姓名：<input type="text" name="ename"><br/>
	入职日期：<input type="text" name="hirdate"><br/>
	所属部门：<select name="dep.did">
				<option th:each="dep:${deps}" th:value="${dep.did}">
					[[${dep.dname}]]
				<option />
			</select>
	<input type="submit" name="addemp"><br/>
</form>
</body>
</html>